{% extends 'core/base.html' %}

{% block title %}
    Пост "{{ object.title }}".
{% endblock %}

{% block on_page_title %}
    Пост "{{ object.title }}".
    <br>
    <small style="font-weight:lighter">
        Автор:{{ object.author }}, {{ object.updated_at }}
    </small>
{% endblock %}

{% block content %}
    <a href="{% url 'blogs:blog' pk=object.blog_id %}"><h3>Назад к блогу</h3>
    </a>
    <p>{{ object.text }}</p>
    <div>
        {% include "comments/comments_list.html" with object_list=object.comments.all %}
    </div>

{% endblock %}